.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 998;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.overlay.active {
  display: block;
  opacity: 1;
}

.desktop-menu ul li .active{
   background: linear-gradient(#59595b,#1d1d1d); 
    border: 1px solid #000;
    color: #fff;
}
.desktop-menu ul ul li a {
    background:#feffcb !important; 
    border: none !important;
    color:fff;
}
.desktop-menu ul li .active .submenu li a{background: #feffcb !important;}
.desktop-menu .submenu {
    background: #feffcb;
    visibility: visible;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
    top: 32px;
    padding: 0px;
    width: 185px !important;
    text-align: left !important;
    opacity: 1;
      z-index: 9999;
}
.desktop-menu .nav > li:hover ul{
  display: block;
}
.moblie-menu{display:none;}       
.all-channels:hover> ul{display:block !important;}

@media only screen and (max-width: 1024px) {
section.testimonials-video-section {
    display: none;
}
.testimonials-slider-section {
    padding: 0;
}
.testimonials-page h1 {
    text-align: center;
    padding-bottom: 0 !important;
    font-size: 25px;
}
   .moblie-menu{display:block !important;}
 .desktop-menu{display:none;}
/*---------mobile menu-------------*/
.moblie-menu .btn-info {
    float: right;
    margin-top: -40px;
    margin-right: 10px;
    background: #e11313;
}
#sidebar2 {
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px;
  height: 100vh;
  z-index: 99999;
  background:#1d1d1d;
  color: #fff;
  transition: all 0.3s;
  overflow-y: scroll;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar2 ul ul li img{display:none;}
#sidebar2 ul ul li a{text-align:left;}
#sidebar2.active {
  left: 0;
}

#dismiss {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#dismiss:hover {
  background: #fff;
  color: #7386D5;
}


#sidebar2 .sidebar-header {
  padding: 20px;
}

#sidebar2 ul.components {
  padding: 20px 0;
}

#sidebar2 ul p {
  color: #fff;
  padding: 10px;
}

#sidebar2 ul li a {
    padding: 10px;
    font-size: 15px;
    display: block;
    color: #fff;
    border-bottom: 1px solid #4a4a4a;
}
#sidebar2 ul li a:hover {
  color: #000000;
  background: #fff;
}
#sidebar2 ul li a i {
    float: right;
}



a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.mobile-menu ul ul a {
  font-size:14px !important;
  padding-left: 30px !important;

}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386D5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

/*----------end-----------*/
}

@media only screen and (max-width:767px) {
 #shiva {
    padding: 0 20px;
    width: 46%;
    float: left;
}  
.count, .sign{font-size:25px;}
.counter-box {
    display: block;
}

}